body
{
    background-image: linear-gradient(to top right, #FFFFFF 0%, #a1cdf3 100%);
}
.titolo
{
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
th
{
    background-color: rgb(0, 175, 245);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}
table
{
    border-collapse: collapse;
    width: 100%;
    background-color: skyblue;
}
li
{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    text-align: center;
    margin-top: 2%;
}
.titletabella
{
   font-size: 150%;
   color:black;
}
.Corpo
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}
.randomdiv
{
    border: 1px black;
}
