.titolo
{
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
td
{
    text-align:center;
}
th
{
    background-color: rgb(0, 175, 245);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}
table
{
    align: center;
    margin-left:0px;
    border-collapse: collapse;
    width: 100%;
    background-color: skyblue;
}
.titletabella
{
   font-size: 150%;
   color:black;
}
.Corpo
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}
.randomdiv
{
    border: 1px black solid;
    width:50%;
    align:center;
}

#clock {
  font-family: 'Orbitron', sans-serif;
  font-size: 23px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
